{% extends "base_generic.html" %}

{% block content %}
<div>slots de batiments encore dispo sur la station: {{ bat_slots }}</div>
<ul>
{% for item in bat_dispos %}
    <div>
        <a href="?id={{ item.id }}">{{ item.nom_web }}</a>
    </div>
{% endfor %}
</ul>
{% if bat_dispo == 0 %}
    <div>Vous devez attendre que la construction de vos batiments soit finis pour en construire d'autres</div>
{% endif %}

<div>batiments déjà construits:</div>
<ul>
    {% for item in batiments %}
        {% if item.timer == 0 %}
            <li>id: {{ item.id }} | niveau: {{ item.niveau }} | timer: {{ item.timer }} | nom: {{ item.nom }}</li>
        {% endif %}
    {% endfor %}
</ul>

<div>batiments en cours de construction: {{ station_actuelle.batiments_actu }} / {{ station_actuelle.batiments_max}}</div>
<ul>
    {% for item in batiments %}
        {% if item.timer > 0 %}
            <li>id: {{ item.id }} | niveau: {{ item.niveau }} | timer: {{ item.timer }} | nom: {{ item.nom }}</li>
        {% endif %}
    {% endfor %}
</ul>

<a href="/accounts/logout/">Logout</a>
{% endblock %}